@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

.menu1Div {
   float: left;
}

.title {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 24px;
   font-weight: bold;
   text-align: left;
   margin-top: 30px;
   margin-bottom: 15px;
   margin-left: 50px;
   color: black;
 }
.mapChart{
  float: left;
}
h2{
  clear: both;
  text-align: center;
}

 .regionchart {
  float: left;
 }

 .sizechart {
   float: left;
 }
 .sizebarchart{
   float: left;
 }

 .chinachart{
  float: left;
 }

 .philippinchart {
  float: left;
 }

 .japanchart{
  float: left;
 }

 .americachart{
  float: left;
 }

 .singaporechart{
  float: left;
 }

 .canadachart{
  float: left;
 }

 .chart{
  margin: 0 auto;
 }

 
.mapChart {
  float: left;
}

.pieChart{
  width: 100vh;
  height: 100vh;
}
