@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

.menu1Div {
   float: left;
}

.title {
   font-family: 'Noto Sans KR', sans-serif;
   font-size: 24px;
   font-weight: bold;
   text-align: left;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 50px;
   color: black;
 }

 .regionchart {
  float: left;
 }

 .sizechart {
   float: left;
 }
 .sizebarchart{
   float: left;
 }

 .chart{
  margin: 0 auto;
 }

 
.mapChart {
  float: left;
}
