body {
  width: 575px;
  height: 76px;
  left: 53px;
  top: 378px;
  position: "absolute";
}

.Frame38 {
  width: 677px;
  height: 579px;
  position: "relative";
  background: "linear-gradient(0deg, #86A8E7 0%, rgba(145.31, 99.18, 226.29, 0.06) 100%, rgba(146, 95, 226, 0) 100%, #E2D4F7 100%)";
  border-radius: 24px;
  overflow: "hidden";
}

.rectangle-5 {
  width: 233.86px;
  height: 35.47px;
  left: 169.5px;
  top: 22.8px;
  position: "absolute";
  text-align: "center";
  color: "black";
  font-size: 16px;
  font-family: "Poppins";
  font-weight: "400";
  word-wrap: "break-word";
}

.Frame44 {
  left: 39px;
  top: 888px;
  position: "absolute";
  justify-content: "flex-start";
  align-items: "center";
  gap: 12px;
  display: "inline-flex";
}
.Logout {
  width: 24px;
  height: 24px;
  position: "relative";
}

.Vector-1 {
  width: 10px;
  height: 8px;
  left: 12px;
  top: 7.99px;
  position: "absolute";
  background: "rgba(255, 255, 255, 0.75)";
}
.Vector-2 {
  width: 15px;
  height: 20px;
  left: 2px;
  top: 2px;
  position: "absolute";
  background: rgba(255, 255, 255, 0.75);
}

.Logout {
  text-align: "center";
  color: "rgba(255, 255, 255, 0.75)";
  font-size: 16px;
  font-family: "Poppins";
  font-weight: "400";
  word-wrap: "break-word";
}

.rectangle-3 {
  width: 575px;
  height: 74px;
  left: 53px;
  top: 126px;
  position: "absolute";
  background: "#FFFAFA";
  border-radius: 20px;
}

.frame-45 {
  width: 100px;
  height: 100px;
  left: 746px;
  top: 398px;
  position: "absolute";
}

.rectangle-4 {
  width: 575px;
  height: 74px;
  left: 53px;
  top: 252px;
  position: "absolute";
  background: "#FFFAFA";
  border-radius: 20px;
}

.Username {
  left: 85px;
  top: 151px;
  position: "absolute";
  text-align: "center";
  color: "rgba(0, 0, 0, 0.63)";
  font-size: 16px;
  font-family: "Poppins";
  font-weight: "400";
  word-wrap: "break-word";
}

.password {
  left: 85px;
  top: 277px;
  position: "absolute";
  text-align: "center";
  color: "rgba(0, 0, 0, 0.63)";
  font-size: 16;
  font-family: "Poppins";
  font-weight: "400";
  word-wrap: "break-word";
}
