
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

.menu1Div {
    float: left;
}

.menu2Div {
    float: left;
}

.menu {
    width: 25vh;
    height: 90vh;
    border-radius: 30px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E2D4F7 , #86A8E7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E2D4F7 , #86A8E7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.search {
    width: 40vh;
    height: 5vh;
    border-radius: 80px;
    position: relative;
    top: -33px;
}

.menu2 {
    width: 155vh;
    height: 80vh;
    border-radius: 30px;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#E2D4F7 , #86A8E7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E2D4F7, #86A8E7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    position: relative;
    top: -20px;
}

.datachart {
    width: 323px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 30px;
    float: left;
}

.data {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    position: relative;
    top: 40px;
}

.datatitle {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    position: relative;
    top: 40px;
    color: rgba(0, 0, 0, 0.377);
}

.icon{
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.596);
}

a:hover {
    color: whitesmoke;
}
